<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    {{!-- arrumar o favicon ainda --}}
    <link rel="stylesheet" href="/css/styles.css">
    <title>Devs</title>
</head>

<body>

    <nav id="navbar">
        <a href="/" id="logo"> <img src="/img/logoDevs.jpg" alt="logo devs"></a>
        <ul>
            <li><a href="/">Devs</a></li>
            {{#if session.userid}}
            <li><a href="/devs/profile">Perfil</a></li>
            <li><a href="/logout">Sair</a></li>
            {{else}}
            <li><a href="/login">Entrar</a></li>
            <li><a href="/register">Registrar</a></li>
            {{/if}}
        </ul>
    </nav>
    <div class="container">
        <!-- Mensagens -->
        {{#if messages.message}}
        <div class="message">
            {{messages.message}}
        </div>
        {{/if}}

        {{{body}}}
    </div>
    <footer>
        <p> <span>Devs </span>&copy;<span id="date"></span> </p>
    </footer>
</body>

<script>
    var ano_atual = new Date
    ano_atual = ano_atual.getFullYear()
    document.getElementById("date").innerHTML = ano_atual
</script>

</html>